In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
app_df = pd.read_csv('Resources/charity_data.csv')
app_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df=app_df.drop(['EIN', 'NAME'], axis= 1)
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts(ascending = True)

T17        1
T15        2
T29        2
T14        3
T25        3
T2        16
T12       27
T13       66
T9       156
T10      528
T7       725
T8       737
T19     1065
T5      1173
T6      1216
T4      1542
T3     27037
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = application_types_to_replace.loc[application_types_to_replace<400].index.values #300 to 400

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df['CLASSIFICATION'].value_counts()>1

C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
         ...
C4120    False
C8210    False
C2561    False
C4500    False
C2150    False
Name: CLASSIFICATION, Length: 71, dtype: bool

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_to_replace=df['CLASSIFICATION'].value_counts()
classification_to_replace=classification_to_replace.loc[classification_to_replace<1400].index.values #to 1400

# Replace in dataframe
for cls in classification_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
df2=pd.get_dummies(df)
df2

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = df2.IS_SUCCESSFUL.values
X = df2.drop(columns =['IS_SUCCESSFUL']).values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 50 #change from 8 and 5 hidden layers to 80 and 50



nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 50)                4050
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 51
=================================================================
Total params: 7,621
Trainable params: 7,621
Non-trainable params: 0
_________________________________________________________________

2021-11-30 22:34:54.516190: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2021-11-30 22:34:54.516846: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50) #change epochs from 75 to 50

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5732 - accuracy: 0.7199
Epoch 2/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5564 - accuracy: 0.7283
Epoch 3/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5525 - accuracy: 0.7310
Epoch 4/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5509 - accuracy: 0.7319
Epoch 5/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5497 - accuracy: 0.7317
Epoch 6/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5493 - accuracy: 0.7343
Epoch 7/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5485 - accuracy: 0.7341
Epoch 8/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5478 - accuracy: 0.7331
Epoch 9/50
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5473 - accuracy: 0.7338
Epoch 10/50
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5470 - accuracy: 0.7340
Epoch 11/50
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5468 - accuracy: 0.7337
Epoch 12/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5465 - accuracy: 0.7355
Epoch 13/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5456 - accuracy: 0.7351
Epoch 14/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5460 - accuracy: 0.7344
Epoch 15/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5453 - accuracy: 0.7343
Epoch 16/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5448 - accuracy: 0.7358
Epoch 17/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5449 - accuracy: 0.7347
Epoch 18/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5447 - accuracy: 0.7349
Epoch 19/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5443 - accuracy: 0.7360
Epoch 20/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5442 - accuracy: 0.7367
Epoch 21/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5437 - accuracy: 0.7351
Epoch 22/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5435 - accuracy: 0.7355
Epoch 23/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5432 - accuracy: 0.7367
Epoch 24/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5431 - accuracy: 0.7367
Epoch 25/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5423 - accuracy: 0.7369
Epoch 26/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5425 - accuracy: 0.7356
Epoch 27/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5420 - accuracy: 0.7362
Epoch 28/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5418 - accuracy: 0.7369
Epoch 29/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5416 - accuracy: 0.7364
Epoch 30/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5414 - accuracy: 0.7361
Epoch 31/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5410 - accuracy: 0.7374
Epoch 32/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5412 - accuracy: 0.7361
Epoch 33/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5409 - accuracy: 0.7375
Epoch 34/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5408 - accuracy: 0.7364
Epoch 35/50
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5405 - accuracy: 0.7381
Epoch 36/50
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5401 - accuracy: 0.7378
Epoch 37/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5394 - accuracy: 0.7390
Epoch 38/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5397 - accuracy: 0.7381
Epoch 39/50
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5394 - accuracy: 0.7388
Epoch 40/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5391 - accuracy: 0.7388
Epoch 41/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5390 - accuracy: 0.7386
Epoch 42/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5386 - accuracy: 0.7390
Epoch 43/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5389 - accuracy: 0.7383
Epoch 44/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5382 - accuracy: 0.7400
Epoch 45/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5381 - accuracy: 0.7397
Epoch 46/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5381 - accuracy: 0.7392
Epoch 47/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5378 - accuracy: 0.7393
Epoch 48/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5375 - accuracy: 0.7392
Epoch 49/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5374 - accuracy: 0.7393
Epoch 50/50
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5374 - accuracy: 0.7396

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5880 - accuracy: 0.7261
Loss: 0.5530267295406441, Accuracy: 0.726064145565033

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")